<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
    <!-- Enable the STDOUT appender if you need console logs -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    
    <property name="LOG_PATTERN" value="[%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){yellow}] [${HOSTNAME}] [${spring.application.name:-............},%X{X-B3-TraceId:-................},%X{X-B3-SpanId:-................}] %-20.-20logger{0}:%-4line [%clr(%5p)] %m%n"/>
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
			<charset>UTF-8</charset>
        </encoder>
    </appender>
    
    <root level="INFO">      
        <appender-ref ref="STDOUT"/> 
    </root>
</configuration>
